tools/translator/script/include/rss/rss_lang.dtd

<!ELEMENT rss (#PCDATA | channel)*><!ELEMENT channel (#PCDATA | titel | description | link | lastBuildDate | image | language | item)*><!ELEMENT image (#PCDATA | url_img | title_img | link_img | description_img)*><!ELEMENT item (#PCDATA | title | link | description | category | pubDate | guid)*><!ELEMENT description (#PCDATA | object )*><!ELEMENT object (#PCDATA | obj_type | obj_name | obj_trans | obj_sug)*><!ELEMENT obj_trans (#PCDATA | trans_note | trans_text)*><!ELEMENT obj_sug (#PCDATA | sug_note | sug_text)*><!ELEMENT obj_type (#PCDATA)><!ELEMENT obj_name (#PCDATA)><!ELEMENT trans_note (#PCDATA)><!ELEMENT trans_text (#PCDATA)><!ELEMENT sug_note (#PCDATA)><!ELEMENT sug_text (#PCDATA)><!ELEMENT titel (#PCDATA)><!ELEMENT link (#PCDATA)><!ELEMENT lastBuildDate (#PCDATA)><!ELEMENT trans_text (#PCDATA)><!ELEMENT language (#PCDATA)><!ELEMENT url_img (#PCDATA)><!ELEMENT title_img (#PCDATA)><!ELEMENT link_img (#PCDATA)><!ELEMENT description_img (#PCDATA)><!ELEMENT title (#PCDATA)><!ELEMENT category (#PCDATA)><!ELEMENT pubDate (#PCDATA)><!ELEMENT guid (#PCDATA)>